*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 3, 56);
    height: 100vh;
}
.fa-snowflake{
    position: absolute;
    color: #fff;
    animation: fall linear forwards;
    top: -20px;
}
@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}
/*commend*/
